@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Home>
@{
    //var socialLinks = Model.BSocialLinks?.ToList() ?? new List<BSocialLink>();
}
<footer>
    <div class='default_wrapper'>
        <div class=''>
            <div class=''>

                <span class='allRightsText'>
                    © KonParcking @DateTime.Now.Year. Усі права захищено
                </span>
            </div>
        </div>
    </div>
</footer>