.shop-main {
    .category-container{
        display: flex;
        width: 1034px;
        margin-left: 70px;
    }
    .category-section{
        display: flex;
        flex-direction: column;
        gap:24px;
    }
    .category-item{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
}