@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
    var modell = Model.Root() as Home;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chemistry</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta-fields></meta-fields>
    <link rel="stylesheet" href="~/dist/css/style.css">
    <link rel="stylesheet" href="~/dist/css/style.css.map">
    <render-script position="HeadBottom"></render-script>
</head>
<body>

    <div class="container">
        @await Html.PartialAsync("Partials/Header", modell, new ViewDataDictionary(ViewData))
            @RenderBody()
        @await Html.PartialAsync("Partials/Footer", modell)
    </div>
    <render-script position="BodyBottom"></render-script>
</body>
</html>
