/*  COLOR  ====================================================================== */

$text-color: #F5F5F5;
$bg-color: #FFFFFF;

/*  FONTS ================================================================= */

$base-size: 16px;

$medium: 400;
$bold: 700;

$transition-03: all 0.3s ease-out;
$transition-01: all 0.1s ease-out;

$box-shadow--form: 0 8px 16px rgba(0, 0, 0, 0.2), 0 24px 24px -16px rgba(15, 15, 15, 0.12);
